<div class="main-about" id="about">
    <div class="main-about_about">
        <h1 class="main-about__title">About Jagadeesh</h1>
        <div class="main-about__description">
            Jagadeesh is a full-time software engineer based in Hyderabad, India. He is a developer who has strong
            passion for self-improvement. He brings energy, positivity and cultural values to the team. He loves working
            on the Linux ecosystems. His interests in the tech industry include DevOps and Full stack Development. He has
            more than 3 years of experience building and maintaining infrastructure and code-bases of flagship products
            in companies like Avalara.
        </div>
    </div>


    <ul class="main-about__personal__info">
        <li>
            <label>Name</label>
            <span>Jagadeesh Reddy Yeturu</span>
        </li>
        <li>
            <label>Designation</label>
            <span>
<!--                <a href="mailto: yeturu.jagadeesh@gmail.com" style="text-decoration: none">yeturu.jagadeesh@gmail.com</a>-->
                Software Engineer
            </span>
        </li>
        <li>
            <label>Speciality</label>
            <span>DevOps, FullStack</span>
        </li>
        <li>
            <label>Experience</label>
            <span>3+ years</span>
        </li>

    </ul>

    <ul class="main-about__links">
        <li>
            <a href="https://www.linkedin.com/in/jagadeesh-reddy-79243216a/" target="_blank">
                <img src="assets/icons/LI-In-Bug.png" style="width:40px;height:auto;">
            </a>
        </li>
        <li>
            <a href="https://gitlab.com/jagadeesh19" target="_blank">
                <img src="assets/icons/gitlab-logo-500.png" style="width:64px;height:auto;">
            </a>
        </li>
        <li>
            <a href="https://github.com/Jagadeesh19" target="_blank">
                <img src="assets/icons/GitHub-Mark-32px.png">
            </a>
        </li>
        <li>
            <a href="https://codeforces.com/profile/jagadeesh19" target="_blank">
                <img src="assets/icons/code-forces.ico" style="width:40px;height:auto; margin-left: 0.7rem">
            </a>
        </li>
    </ul>
</div>
