.main-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96vh;
  justify-content: space-around;
}

.main-about__personal__info li label {
  text-decoration: underline;
}

.main-about_about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-about__description{
  width: 90%;
  text-align: center;
  color: rgba(26,26,26,.7);
  font-size: 1.2rem;
}

.main-about__title{
  font-weight: normal;
}

.main-about__links{
  list-style: none;
  display: flex;
  align-items: center;
  user-select: none;
}

.main-about__personal__info{
  list-style: none;
  margin-top: 2rem;
  //border: 1px solid black;
  box-shadow: 3px 3px 10px rgba(5,5,5,0.5);
  width: 85%;
  padding: 2rem;
  border-radius: 5px;
}

.main-about__personal__info li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.main-about__personal__info label{
}

.main-about__personal__info span{
  margin-right: 1rem;

}

@media   (min-width: 500px) {
  .main-about__personal__info{
    width: 70%;
  }

  .main-about{
    padding-top: 6rem;
  }
}

@media   (min-width: 700px) {
  .main-about__personal__info{
    width: 50%;
  }

  .main-about__description{
    width: 70%;
  }

}

@media   (min-width: 1000px) {
  .main-about__personal__info{
    width: 40%;
  }

  .main-about__description{
    width: 60%;
  }
}

@media   (min-width: 1300px) {
  .main-about__personal__info{
    width: 30%;
  }

  .main-about__description{
    width: 50%;
  }
}

@media   (min-width: 1600px) {
  .main-about__personal__info{
    width: 25%;
  }

  .main-about__description{
    width: 40%;
  }
}

@media (max-width: 499px) {
  .main-about__personal__info{
    display: none;
  }

  .main-about{
    height: 60vh;
    height: calc(var(--vh, 1vh) * 60);
  }
}

@media (max-height: 667px){
  .main-about{
    height: 70vh;
    height: calc(var(--vh, 1vh) * 70);
  }
}
