.toggle-button{
  width: 2.5rem;
  background: #da4c0f;
  height: 2rem;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  position: fixed;
  top: 1rem;
  right: 3%;
  z-index: 1;
}

.toggle-button:focus{
  outline: none;
}

.toggle-button__bar{
  width: 1.5rem;
  position: absolute;
  height: 0.15rem;
  background: white;
  border-radius: 0.5rem;
  display: block;
  margin: 0.4rem 0;
  transition: transform 500ms ease-in-out ;
  transform: rotate(0deg);
  left: 0.5rem;
}

.toggle-button span:nth-child(1){
  top: 0;
}

.toggle-button span:nth-child(2){
  top: 0.5rem;
  opacity: 1;
}

.toggle-button span:nth-child(3){
  top: 1rem;
}

.toggle-button.open_toggle span:nth-child(1){
  top: 0.5rem;
  transform: rotate(135deg);
}

.toggle-button.open_toggle span:nth-child(2){
  opacity: 0;
}

.toggle-button.open_toggle span:nth-child(3){
  top: 0.5rem;
  transform: rotate(-135deg);
}



.mobile-nav {
  transform: translateY(-100%);
  position: fixed;
  top: 3rem;
  left: 60%;
  background: black;
  width: 40%;
  transition: transform 500ms ease-out, opacity 500ms ease-out;
  z-index: 0;
  opacity: 0;
}

.open{
  transform: translateY(0);
  opacity: 1;
}

.mobile-nav__items{
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  text-align: center;
  padding: 0;
}

.mobile-nav__item{
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

@media (min-width: 500px) {
  .toggle-button{
    display: none;
  }
}
