<button class="toggle-button" (click)="clicked=!clicked" [ngClass]="{open_toggle: clicked}">
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
    <span class="toggle-button__bar"></span>
</button>

<nav class="mobile-nav" [ngClass]="{open: clicked}">
    <ul class="mobile-nav__items">
        <li class="mobile-nav__item">
            <a  (click)="onScroll()" href="#home">About</a>
        </li>
        <li class="mobile-nav__item">
            <a (click)="onScroll()" href="#resume">Work</a>
        </li>
        <li class="mobile-nav__item">
            <a (click)="onScroll()" href="#skills">Skills</a>
        </li>
    </ul>
</nav>
