<header id="home">
    <div class="home_link_name">
        Jagadeesh Reddy
    </div>
    <div class="main_nav">
        <div>
            <a href="#about">About</a>
        </div>
        <div>
            <a href="#resume">Resume</a>
        </div>
        <div class="main_nav__contact" (click)="onClick()" [ngClass]="{copied: copied}">
            <a href="#">
                <span *ngIf="!copied">Email Me</span>
                <span *ngIf="copied">&nbsp;copied&nbsp;</span>
            </a>
        </div>
    </div>
</header>
