header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  background: #16162d;
  padding: 1rem;
  color: white;
  z-index: 2;
  //font-weight: bold;
}

.home_link_name{
  font-size: 1.5rem;
  cursor: pointer;
}

.main_nav{
  display: flex;
  justify-content: space-around;
  //text-transform: uppercase;
  align-items: center;
}

.main_nav a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.main_nav a:hover{
  color: #e7a796;
}

.main_nav__contact{
  border: 2px solid white;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  border-radius: 100px;
}

.main_nav__contact a {
  color: inherit;
}

.main_nav__contact:hover{
  background: white;
  color: black;
}

.main_nav__contact a:hover{
  color: inherit;
}

.copied {
  background: #e7a796;
}

.copied:hover {
  background: #e7a796;
}

.copied a:hover {
  color: white;
}

.copied:hover a {
  color: white;
}

@media (min-width: 500px) {
  .main_nav{
    width: 70%;
  }

  header{
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media (min-width: 700px) {
  .main_nav{
    width: 60%;
  }
}

@media (min-width: 1000px) {
  .main_nav{
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .main_nav{
    width: 35%;
  }
}

@media (max-width: 499px) {
  .main_nav{
    display: none;
  }

  header {
    background-image: url("src/assets/images/Linux.jpg");
    background-position: right;
    background-size: cover;
    background-position-x: center;
    height: 40vh;
    height: calc(var(--vh, 1vh) * 40);
  }
}

@media (max-height: 667px){
  header {
    height: 30vh;
    height: calc(var(--vh, 1vh) * 30);
  }
}
