<div class="main-resume" id="resume">
    <div class="history">
        <ul class="employments">
            <h2>Employment</h2>
            <li>
                <div class="history-card">
                    <h4>
                        Avalara
                        <span>2/2021 - present</span>
                    </h4>
                    <h5>Software Engineer</h5>
                    <p>
                        Building and maintaining the complex requirements of the AvaTax (Avalara's flagship tax calculation software).
                        working on building CI/CD pipelines to ease the deployments of the microservices. Technology migration
                        from dotnet framework to dotnet core for the legacy appliations. Use Terrafom to automate the
                        Infrastructure deployments. Build and maintain Rest APIs
                    </p>
                </div>
            </li>
            <li>
                <div class="history-card">
                    <h4>
                        Stryker
                        <span>1/2021 - 2/2021</span>
                    </h4>
                    <h5>
                        Application Engineering intern</h5>
                    <p>
                        As an Application engineering intern at stryker, I worked on low code platform mendix which is
                        used to rapidly build enterprise applications . Apart from that I also worked on stryker CSR
                        activity which is an e-commerce platform.
                    </p>
                </div>
            </li>
        </ul>
        <ul class="education">
            <h2>Education</h2>
            <li>
                <div class="history-card">
                    <h4>
                        Undergraduate - 9.17 CGPA
                        <span>2017 - 2021</span>
                    </h4>
                    <h5>Computer Science And Engineering - VIT Vellore</h5>
                </div>
            </li>
        </ul>
        <ul class="projects">
            <h2>Projects</h2>
            <li>
                <div class="history-card">
                    <h4>
                        mal-client
                    </h4>
                    <h5>Frontend client of Myanimelist based on Jikan API</h5>
                    <p>
                        Myanimelist is the world's largest anime and manga database and community. mal-client is Frontend
                        application that displays the information on anime through unofficial MyanimeList jikan API.
                        <br>
                        <br>
                        <a href="https://mal-client.jagadeeshreddy.net" target="_blank" style="text-decoration: none">view</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="skills" id="skills">
        <div class="Programming-languages">
            <h3>Programming Languages</h3>
            <ul class="skill">
                <li>
                    <h4>C++</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>Python</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span ></span>
                        <span ></span>
                    </div>
                </li>
                <li>
                    <h4>C#</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span ></span>
                        <span ></span>
                    </div>
                </li>
                <li>
                    <h4>JavaScript</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>C</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>TypeScript</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span ></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="backend-skills">
            <h3>Backend Skills</h3>
            <ul class="skill">
                <li>
                    <h4>Microsoft Dotnet</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>NodeJS</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>MSSQL Server</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="frontend-skills">
            <h3>Frontend Skills</h3>
            <ul class="skill">
                <li>
                    <h4>Angular</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>React</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>HTML + CSS</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="devops-and-other">
            <h3>Devops And Other</h3>
            <ul class="skill">
                <li>
                    <h4>AWS</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>Terraform</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                    </div>
                </li>
                <li>
                    <h4>GitLab CI</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>Docker</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>Linux Terminal</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <h4>GIT</h4>
                    <div class="rating">
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                        <span style="opacity: 1;"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
