.main-resume{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.history{
  width: 100%;
}

.history h2{
  text-align: center;
}

.history li{
  margin-bottom: 3rem;
}

.skills{
  width: 100%;
}

.skills > div{
  margin-bottom: 1.5rem;
}

.rating span{
  border: 2px solid black;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 20px;
  background: black;
  margin-right: 1rem;
  opacity: 0.3;
}

.rating{
  display: flex;
}

.skill li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill h4{
  margin: 0.3rem;
  color: rgba(26,26,26,0.7);
}

.history-card {
  //margin-left: 2rem;
}

.history-card h4{
  display: flex;
  justify-content: space-between;
}

//.main-resume > div{
//  padding: 1rem;
//}

.history > ul,
.skills{
  background: #f8f8fa;
  border-radius: 2%;
  padding: 1rem;
  margin-bottom: 1rem;
}

ul{
  list-style: none;
  margin: 0;
}

h2{
  margin: 0;
}

@media (min-width: 500px) {
  .main-resume{
    padding-top: 6rem;
  }
}

@media (min-width: 700px) {
  .history{
    width: 80%;
  }

  .skills{
    width: 80%;
  }

}

@media (min-width: 1000px) {
  .history{
    width: 45%;
  }

  .skills{
    width: 40%;
  }

}

@media (min-width: 1200px) {
  .history{
    width: 60%;
  }

  .skills{
    width: 35%;
  }

}

@media (min-width: 1600px) {
  .history{
    width: 65%;
  }

  .skills{
    width: 25%;
  }

}
