body{
  margin: 0;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  color: rgba(26,26,26,0.7);
  font-size: 1.2rem;
}

*{
  box-sizing: border-box;
}

*::selection{
  background: black;
  color: white;
}

html{
  scroll-behavior: smooth;
}
